#mainSegment{
    border-bottom: 0px solid #0000;

    .ui.grid{
        min-height: 99vh;
    }

    body, h1, p{
        font-family: 'Poppins', sans-serif;
    }

    h1{
        font-size: 72px;

        // Responsive for phone view
        @include respond-to("phone"){
            font-size: 24px;
            margin-bottom: -20px;
        }
    }

    p{
        opacity: 0.7;

        @include respond-to("phone"){
            font-size: 12px;
        }

        a{
            color: black;
            text-decoration: underline;
        }
    }
}