// Font from Google Fonts, you can change it
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Breakpoints for responsiveness
$breakpoints: (
  'phone':  480px,
  'tablet': 768px,
  'landscapeTablet': 1024px
)!default;

// Mixin for responsiveness
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// Mixin for transition effect
@mixin transition(){
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
}

#mainSegment{
    border-bottom: 0px solid #0000;

    .ui.grid{
        min-height: 99vh;
    }

    body, h1, p{
        font-family: 'Poppins', sans-serif;
    }

    h1{
        font-size: 72px;

        // Responsive for phone view
        @include respond-to("phone"){
            font-size: 24px;
            margin-bottom: -20px;
        }
    }

    p{
        opacity: 0.7;

        @include respond-to("phone"){
            font-size: 12px;
        }

        a{
            color: black;
            text-decoration: underline;
        }
    }
}