@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;1,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
}

#component-wrapper {
  width: 400px;
  border: 1px #eeeeee solid;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.03);
}

#component-wrapper .component-header {
  padding: 1em;
}

#component-wrapper .component-header input[type=text] {
  border: 0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px #ffffff solid;
  width: calc(100% - 1.7em);
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
  padding: .5em;
  padding-right: 1em;
}

#component-wrapper .component-header input[type=text]::-webkit-input-placeholder {
  color: #888888;
}

#component-wrapper .component-header input[type=text]:-ms-input-placeholder {
  color: #888888;
}

#component-wrapper .component-header input[type=text]::-ms-input-placeholder {
  color: #888888;
}

#component-wrapper .component-header input[type=text]::placeholder {
  color: #888888;
}

#component-wrapper .component-header input[type=text]:focus {
  outline: none;
  border-bottom: 1px #eeeeee solid;
}

#component-wrapper .component-header .found {
  padding: 0 .5em;
  font-size: 12px;
  color: #bbbbbb;
  font-weight: 600;
  padding-top: 1em;
}

#component-wrapper .component-header .close {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#component-wrapper .component-header .close:hover {
  opacity: 1;
}

#component-wrapper .component-header .close:hover:before, #component-wrapper .component-header .close:hover:after {
  background-color: #888888;
}

#component-wrapper .component-header .close:before, #component-wrapper .component-header .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #bbbbbb;
}

#component-wrapper .component-header .close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#component-wrapper .component-header .close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#component-wrapper .component-content {
  height: 500px;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
}

#component-wrapper .component-content::-webkit-scrollbar {
  width: 5px;
}

#component-wrapper .component-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

#component-wrapper .component-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

#component-wrapper .component-content .employee-data-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  padding: 1em;
  text-decoration: none;
}

#component-wrapper .component-content .employee-data-container:hover {
  background: #f8f8f8;
}

#component-wrapper .component-content .employee-data-container img {
  height: 66px;
  width: 66px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

#component-wrapper .component-content .employee-data-container h3 {
  margin-top: .15em;
  margin-bottom: .35em;
  font-size: 16px;
  color: #444444;
}

#component-wrapper .component-content .employee-data-container p {
  display: inline;
  margin: 0;
  font-size: 14px;
  color: #888888;
}

#component-wrapper .component-content .employee-data-container p:nth-last-child(3)::after {
  content: "\A";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #dddddd;
  display: inline-block;
  margin: 0 5px 0 8px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#component-wrapper .component-content .employee-data-container p:last-child {
  display: block;
  font-size: 12px;
  margin-top: .25em;
  color: #bbbbbb;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

#component-wrapper .empty {
  height: 500px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: absolute;
  bottom: 0;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #888888;
}
/*# sourceMappingURL=style.css.map */